<h1 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">BLOG PERSONAL</h1>
<!-- barra de navegacion -->
<ul class="nav nav-underline" style="background-color: #9fb89d;">
    <li class="nav-item">
        <a class="nav-link"  style="font-family: Georgia, 'Times New Roman', Times, serif; color: #000000;" aria-current="page" href="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black;" href="hobbies">Hobbies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="font-family: Georgia, 'Times New Roman', Times, serif; color: black;" href="estudios">Estudios</a>
    </li>
</ul>