<body>
    <div class="container-fluid p-5 text-black text-center" style="background-color: #f7e5e2;">
        <h1 style="font-family: 'Times New Roman', Times, serif;">¿QUIEN SOY?</h1>
        <p style="font-family: 'Times New Roman', Times, serif;">mi presentacion</p>
    </div>
    <!-- inicio -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4" style="background-color:#ffffff;">
                <h3>Hobbies</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ornare et felis interdum, justo malesuada
                    nostra consequat per. Platea parturient bibendum eros rutrum pharetra dis venenatis, aenean
                    elementum conubia etiam nec donec praesent neque, semper torquent tincidunt auctor rhoncus nulla
                    tempus, nostra ullamcorper tristique integer arcu molestie. Dignissim condimentum aliquet pharetra
                    ut a quisque ac volutpat torquent, imperdiet diam fames curabitur mus interdum sodales himenaeos.
                    Praesent sed duis metus arcu fusce taciti at felis feugiat lobortis, platea egestas netus facilisis
                    erat aliquam proin condimentum.</p>
                <p>Auctor purus ligula mauris nascetur posuere porta, penatibus neque etiam gravida vestibulum vehicula
                    ullamcorper, sagittis a nam egestas maecenas. Mus facilisis fermentum dictumst nunc sociosqu
                    curabitur eros sociis primis, placerat ante potenti vel torquent id ligula at. Felis justo vivamus
                    vulputate dictum scelerisque, nam nisl tincidunt odio hac, eros feugiat vel sed. Sollicitudin ad
                    netus eleifend turpis montes mollis odio class suspendisse, inceptos magnis eget aenean sem massa
                    ante varius posuere, iaculis tortor arcu ligula mauris rhoncus tellus pulvinar.</p>
                <p>Morbi ante nascetur et erat bibendum per commodo viverra, non rhoncus porta hendrerit libero tellus
                    ullamcorper senectus class, vestibulum odio lobortis enim duis ut pretium. Elementum lacinia
                    senectus ad cubilia vulputate molestie in nullam, eleifend montes nascetur aliquam laoreet eu
                    himenaeos massa torquent, dui fusce interdum accumsan posuere varius mus. Vel posuere consequat
                    facilisis nascetur potenti maecenas dis placerat tortor netus, nullam laoreet dapibus pretium
                    senectus malesuada scelerisque congue sed sagittis, fringilla ad magna sapien dictumst class iaculis
                    ornare dictum. Inceptos hac morbi nisi vel praesent suspendisse, ullamcorper taciti eget blandit
                    euismod, mi mollis nam curabitur rutrum.</p>
            </div>
            <div class="col-sm-4" style="background-color: #f7e5e2;">
                <h3>Amistades</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ornare et felis interdum, justo malesuada
                    nostra consequat per. Platea parturient bibendum eros rutrum pharetra dis venenatis, aenean
                    elementum conubia etiam nec donec praesent neque, semper torquent tincidunt auctor rhoncus nulla
                    tempus, nostra ullamcorper tristique integer arcu molestie. Dignissim condimentum aliquet pharetra
                    ut a quisque ac volutpat torquent, imperdiet diam fames curabitur mus interdum sodales himenaeos.
                    Praesent sed duis metus arcu fusce taciti at felis feugiat lobortis, platea egestas netus facilisis
                    erat aliquam proin condimentum.</p>
                <p>Auctor purus ligula mauris nascetur posuere porta, penatibus neque etiam gravida vestibulum vehicula
                    ullamcorper, sagittis a nam egestas maecenas. Mus facilisis fermentum dictumst nunc sociosqu
                    curabitur eros sociis primis, placerat ante potenti vel torquent id ligula at. Felis justo vivamus
                    vulputate dictum scelerisque, nam nisl tincidunt odio hac, eros feugiat vel sed. Sollicitudin ad
                    netus eleifend turpis montes mollis odio class suspendisse, inceptos magnis eget aenean sem massa
                    ante varius posuere, iaculis tortor arcu ligula mauris rhoncus tellus pulvinar.</p>
                <p>Morbi ante nascetur et erat bibendum per commodo viverra, non rhoncus porta hendrerit libero tellus
                    ullamcorper senectus class, vestibulum odio lobortis enim duis ut pretium. Elementum lacinia
                    senectus ad cubilia vulputate molestie in nullam, eleifend montes nascetur aliquam laoreet eu
                    himenaeos massa torquent, dui fusce interdum accumsan posuere varius mus. Vel posuere consequat
                    facilisis nascetur potenti maecenas dis placerat tortor netus, nullam laoreet dapibus pretium
                    senectus malesuada scelerisque congue sed sagittis, fringilla ad magna sapien dictumst class iaculis
                    ornare dictum. Inceptos hac morbi nisi vel praesent suspendisse, ullamcorper taciti eget blandit
                    euismod, mi mollis nam curabitur rutrum.</p>
            </div>
            <div class="col-sm-4" style="background-color: #ffffff;">
                <h3>Tiempo libre</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ornare et felis interdum, justo malesuada
                    nostra consequat per. Platea parturient bibendum eros rutrum pharetra dis venenatis, aenean
                    elementum conubia etiam nec donec praesent neque, semper torquent tincidunt auctor rhoncus nulla
                    tempus, nostra ullamcorper tristique integer arcu molestie. Dignissim condimentum aliquet pharetra
                    ut a quisque ac volutpat torquent, imperdiet diam fames curabitur mus interdum sodales himenaeos.
                    Praesent sed duis metus arcu fusce taciti at felis feugiat lobortis, platea egestas netus facilisis
                    erat aliquam proin condimentum.</p>
                <p>Auctor purus ligula mauris nascetur posuere porta, penatibus neque etiam gravida vestibulum vehicula
                    ullamcorper, sagittis a nam egestas maecenas. Mus facilisis fermentum dictumst nunc sociosqu
                    curabitur eros sociis primis, placerat ante potenti vel torquent id ligula at. Felis justo vivamus
                    vulputate dictum scelerisque, nam nisl tincidunt odio hac, eros feugiat vel sed. Sollicitudin ad
                    netus eleifend turpis montes mollis odio class suspendisse, inceptos magnis eget aenean sem massa
                    ante varius posuere, iaculis tortor arcu ligula mauris rhoncus tellus pulvinar.</p>
                <p>Morbi ante nascetur et erat bibendum per commodo viverra, non rhoncus porta hendrerit libero tellus
                    ullamcorper senectus class, vestibulum odio lobortis enim duis ut pretium. Elementum lacinia
                    senectus ad cubilia vulputate molestie in nullam, eleifend montes nascetur aliquam laoreet eu
                    himenaeos massa torquent, dui fusce interdum accumsan posuere varius mus. Vel posuere consequat
                    facilisis nascetur potenti maecenas dis placerat tortor netus, nullam laoreet dapibus pretium
                    senectus malesuada scelerisque congue sed sagittis, fringilla ad magna sapien dictumst class iaculis
                    ornare dictum. Inceptos hac morbi nisi vel praesent suspendisse, ullamcorper taciti eget blandit
                    euismod, mi mollis nam curabitur rutrum.</p>
            </div>
        </div>
    </div>

</body>